# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# VS Code
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Python environment
.python-version
.env